# 1 - LlmaIndex: Motore RAG
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
#ChromeDB(Vector Store locale persistente senza cloud   )
# chromadb
# llama-index-vector-stores-chroma
